{% extends 'index.html' %}{% load static %}{% block content %}
<style>
	@media print {

		/* All your print styles go here */
		.invoice-box {
			width: 1000px !important;
		}

		#invoice-content {
			width: 100% !important;
		}

		#t {
			display: none;
		}

		.invoice-desc th,
		td {
			padding: 10px;
		}

		.invoice-desc table {
			padding: 10px;
		}

		/* Ensure form input fields are hidden during print */
        #invoice-content .forminput {
            display: none !important;
        }
	}

	.invoice-desc th,
	td {
		padding: 10px;
	}

	.invoice-desc table {
		padding: 10px;
	}
</style>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Form</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{%url 'Index' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Invoice</li>
							</ol>
						</nav>
					</div>
					<div class="col-md-6 col-sm-12 text-right">
						<div class="dropdown">
							{% for message in messages%}
							<div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
								<strong>Alert!</strong> {{message}}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							{% endfor %}
							<a class="btn btn-primary" target="_blank" href="{%url 'custome_invoiceprint' invoice.id %}" role="button">
								Print Invoice
							</a>
							<button data-toggle="modal" data-target="#Medium-modal" class="btn btn-warning">Make
								Ajustment And Accept</button>
							<!-- Modal -->
							<div class="modal fade" id="Medium-modal" tabindex="-1" role="dialog"
								aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="myLargeModalLabel">Invoice Adjustments</h4>
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">×</button>
										</div>
										<div class="modal-body text-left">
											<form action="{%url 'adjustment_custome' invoice.id %}" method="post">
												{% csrf_token %}
												<div class="modal-body">
													<label for="">Add Amount</label>
													<input type="number" placeholder="Extra Amount" class="form-control" name="other_amount">
													<label for="">Add Discount</label>
													<input type="number" placeholder="Discount" class="form-control" name="discount"><br>
													<button type="submit" class="btn btn-primary">Add Ajustments</button>
												</div>
											</form>
										</div>

									</div>
								</div>
							</div>



						</div>
					</div>
				</div>
			</div>
			<div class="invoice-wrap invoice-content" id="invoice-content">
				<div class="invoice-box">
					<div class="invoice-header">
						<div class="logo text-center">
							<img src="{{lab.letter_head.url}}" alt="">
						</div>
					</div>
					<h4 class="text-center mb-30 weight-600">INVOICE</h4>
					<div class="row pb-30">
						<div class="col-md-6">
							<h5 class="mb-15">Client Name:{{invoice.order.patient_name}}</h5>
							<p class="font-14 mb-5">Doctor: Dr. {{invoice.order.doctor}}</p>

							<p class="font-14 mb-5">Date Issued: <strong
									class="weight-600">{{invoice.date_time}}</strong></p>
							<p class="font-14 mb-5">Invoice No: <strong
									class="weight-600">{{invoice.invoice_number}}</strong></p>
						</div>
						<div class="col-md-6">
							<div class="text-right">
								<!-- <p class="font-14 mb-5">Your Name: {{request.user.first_name}} </strong></p> -->
								<!-- <p class="font-14 mb-5">Your Address</p>
									<p class="font-14 mb-5">City</p>
									<p class="font-14 mb-5">Postcode</p> -->
							</div>
						</div>
					</div>
					<div class="invoice-desc pb-30">
						<table class="table" style="border:1px solid !important; width: 100%;">
							<tr>
								<th style="border: 1px solid !important;width:5% !important">Sl. No</th>
								<th style="border: 1px solid !important;width:70% !important">Discription</th>
								<th style="border: 1px solid !important;">Rate</th>
							</tr>
							{% for item in invoice_items %}
							<tr>
								<td>1</td>
								<td style="border-left: 1px solid !important;" id="t">{{item.Description}}</td>
								<td style="border-left: 1px solid !important;">{{item.price}}

									<a href="{%url 'Delete_Items' item.id %}" onclick="return confirm('Do you want to delete ?')" class="btn btn-outline-danger btn-sm">Delete</a>
								</td>
							</tr>
							{% endfor %}
							
							<div class="forminput">
								<!-- Form Input Fields That Should Be Hidden on Print -->
								 <form action="{%url 'Create_Customeamount_items' invoice.id %}" method="post">
									{% csrf_token %}
								<tr>
									<td></td>
									<td style="border-left: 1px solid !important;">Description:<textarea 
											placeholder="Add Description" class="form-control" required name="description"
											id=""></textarea></td>
									<td style="border-left: 1px solid !important;">Price:<input required type="number"
											placeholder="price" name="price" class="form-control mt-2">
											<button class="btn btn-success btn-sm mt-1">Add</button>
										</td>
								</tr>
								<tr>
									<td></td>
									<td style="border-left: 1px solid !important;" id="t">Other Amount</td>
									<td style="border-left: 1px solid !important;">{{invoice.adjustment}}
	
									</td>
								</tr>
								<tr>
									<td></td>
									<td style="border-left: 1px solid !important;" id="t">Discounts</td>
									<td style="border-left: 1px solid !important;">{{invoice.discount}}
	
									</td>
								</tr>
								
							</form>
							</div>

							<tr>

								<th colspan="2" style="border: 1px solid !important;text-align: center;">Total</th>
								<th style="border: 1px solid !important;">0</th>
							</tr>
						</table>
						<div class="invoice-desc-footer">
							<div class="invoice-desc-head clearfix">
								<div class="invoice-sub">Info</div>
								<div class="invoice-rate">Due By</div>
								<div class="invoice-subtotal">Total Due</div>
							</div>
							<div class="invoice-desc-body">
								<ul>
									<li class="clearfix">
										<div class="invoice-sub">
											<p class="font-14 mb-5">Invoice Number: <strong
													class="weight-600">{{invoice.invoice_number}}</strong></p>
											<p class="font-14 mb-5">Payment Status: <strong class="weight-600"><span
														class="badge bg-success">Paid</span></strong></p>
										</div>
										<div class="invoice-rate font-10 weight-600">{{invoice.date_time}}</div>
										<div class="invoice-subtotal"><span
												class="weight-600 font-24 text-danger">Rs.{{invoice.total_payable}}</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<h4 class="text-center pb-20">Thank You!!</h4>
				</div>
			</div>
		</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
			ClinLab - Powered <a href="https://www.byteboot.in" target="_blank">Byteboot</a>
		</div>
	</div>
</div>
<script>
	// function printInvoice() {
	// 	var forminputElements = document.querySelectorAll('.forminput');
    // 	forminputElements.forEach(function(el) {
    //     el.style.display = 'none';
    // 	});
	// 	var printContents = document.getElementById('invoice-content').innerHTML;
	// 	var originalContents = document.body.innerHTML;
	// 	document.body.innerHTML = printContents;
	// 	window.print();
	// 	document.body.innerHTML = originalContents;
	// }
</script>
{% endblock %}