<!DOCTYPE html>
{% load static%}
<html>

<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Lablogix</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'vendors/images/Clinlab_logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'vendors/images/Clinlab_logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'vendors/images/Clinlab_logo.png' %}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{%static 'vendors/styles/core.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'vendors/styles/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{%static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{%static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'vendors/styles/style.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script> -->

</head>

<body onload="printInvoice()">
    <div class="invoice-wrap invoice-content" id='invoice-content'>
        <div class="invoice-box">
            <div class="invoice-header">
                <div class="logo text-center">
                    <img src="{{lab.letter_head.url}}" alt="">
                </div>
            </div>
            <h4 class="text-center mb-30 weight-600">INVOICE</h4>
            <div class="row pb-30">
                <div class="col-md-6">
                    <h5 class="mb-15">Client Name:{{invoice.order.patient_name}}</h5>
							<p class="font-14 mb-5">Doctor: Dr. {{invoice.order.doctor}}</p>

                    <p class="font-14 mb-5">Date Issued: <strong class="weight-600">{{invoice.date_time}}</strong></p>
                    <p class="font-14 mb-5">Invoice No: <strong class="weight-600">{{invoice.invoice_number}}</strong>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <!-- <p class="font-14 mb-5">Your Name: {{request.user.first_name}} </strong></p> -->
                        <!-- <p class="font-14 mb-5">Your Address</p>
                        <p class="font-14 mb-5">City</p>
                        <p class="font-14 mb-5">Postcode</p> -->
                    </div>
                </div>
            </div>
            <div class="invoice-desc pb-30">
                <table class="table" style="border:1px solid !important; width: 100%;">
                    <tr>
                        <th style="border: 1px solid !important;width:5% !important">Sl. No</th>
                        <th style="border: 1px solid !important;width:70% !important">Discription</th>
                        <th style="border: 1px solid !important;">Rate</th>
                    </tr>
                    {% for item in invoice_items %}
							<tr>
								<td>1</td>
								<td style="border-left: 1px solid !important;" id="t">{{item.Description}}</td>
								<td style="border-left: 1px solid !important;">{{item.price}}

								</td>
							</tr>
							{% endfor %}

                            <tr>
                                <td></td>
                                <td style="border-left: 1px solid !important;" id="t">Other Amount</td>
                                <td style="border-left: 1px solid !important;">{{invoice.adjustment}}

                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="border-left: 1px solid !important;" id="t">Discounts</td>
                                <td style="border-left: 1px solid !important;">{{invoice.discount}}

                                </td>
                            </tr>

                    <tr>

                        <th colspan="2" style="border: 1px solid !important;text-align: center;">Total</th>
                        <th style="border: 1px solid !important;">0</th>
                    </tr>
                </table>
                <div class="invoice-desc-footer">
                    <div class="invoice-desc-head clearfix">
                        <div class="invoice-sub">Info</div>
                        <div class="invoice-rate">Due By</div>
                        <div class="invoice-subtotal">Total Due</div>
                    </div>
                    <div class="invoice-desc-body">
                        <ul>
                            <li class="clearfix">
                                <div class="invoice-sub">
                                    <p class="font-14 mb-5">Invoice Number: <strong
                                            class="weight-600">{{invoice.invoice_number}}</strong></p>
                                    <p class="font-14 mb-5">Payemnt Status: <strong class="weight-600"><span
                                                class="badge bg-success">Paid</span></strong></p>
                                </div>
                                <div class="invoice-rate font-10 weight-600">{{invoice.date_time}}</div>
                                <div class="invoice-subtotal"><span
                                        class="weight-600 font-24 text-danger">Rs.{{invoice.total_payable}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4 class="text-center pb-20">Thank You!!</h4>
        </div>
    </div>
    <script>
        function printInvoice() {
            var printContents = document.getElementById('invoice-content').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;

            setTimeout(function () {
                window.close(); // Close the window after printing
            }, 100); // 100ms delay, adjust if needed
        }
    </script>

   
</body>

</html>