{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Profile</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{%url 'Index' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        {% for message in messages%}
                        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                            <strong>Alert!</strong> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="profile-photo">
                            <a href="modal" data-toggle="modal" data-target="#modal" class="edit-avatar"><i
                                    class="fa fa-pencil"></i></a>
                            {% if lab_profile.logo_of_lab.url is not None %}
                            {% else %}
                            <img src="{%static 'vendors/images/photo1.jpg' %}" alt="" class="avatar-photo">
                            {% endif%}
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 yy               aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body pd-5">
                                            <div class="img-container">
                                                {% if lab_profile.logo_of_lab.url is not None %}
                                            <img src="{%static 'vendors/images/photo1.jpg' %}" alt="" class="avatar-photo">

                                                {% else %}
                                                <img src="{%static 'vendors/images/photo1.jpg' %}" alt=""
                                                    class="avatar-photo">
                                                {% endif%}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <form method="post" action="{%url 'ChangeProfilePic' lab_profile.id %}"
                                                enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <label for="">To Change: </label>
                                                <input type="file" name="pro_pic" class="form-control"> <br>
                                                <input type="submit" value="Update" class="btn btn-primary">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-center h5 mb-0">{{request.user.first_name}}</h5>
                        <p class="text-center text-muted font-14">Username: {{request.user}}</p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Contact Information</h5>
                            <ul>
                                <li>
                                    <span>Email Address:</span>
                                    {{request.user.email}}
                                </li>
                                <li>
                                    <span>Phone Number:</span>
                                    {{lab_profile.contact_number}}
                                </li>
                                <li>
                                    <span>Country:</span>
                                    {{lab_profile.country}}
                                </li>
                                <li>
                                    <span>Address:</span>
                                    {{lab_profile.address}}
                                </li>
                            </ul>
                        </div>
                        <div class="profile-social">
                            <h5 class="mb-20 h5 text-blue">Upload Leter Head</h5>
                            <form action="{%url 'UploadLeatterHead' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                Top Of letter Head
                                <input type="file" name="letter_top" required class="form-control">
                                <br>
                                Bottom Of letter Head
                                <input type="file" name="letter_down" required class="form-control">
                                <br>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                        {% if lab_profile.letter_head.url is not None %}
                        <img src="{{lab_profile.letter_head.url}}" style="width:100%" alt="lettr">
                        {% elif lab_profile.letter_head_down.url is not None %} <br>
                        <img src="{{lab_profile.letter_head_down.url}}" style="width:100%" alt="lettr">
                        {% endif %}

                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#timeline"
                                            role="tab">Timeline</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#setting" role="tab">Change
                                            Information</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Timeline Tab start -->
                                    <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                                        <div class="pd-20">
                                            <div class="profile-timeline">
                                                <div class="timeline-month">
                                                    <h5>Time Line</h5>
                                                </div>
                                                <div class="profile-timeline-list">
                                                    <ul>
                                                        <li>
                                                            <!-- <div class="date"></div> -->
                                                            <div class="task-name"><i
                                                                    class="ion-android-alarm-clock"></i> Joined Date
                                                            </div>
                                                            <p>{{request.user.date_joined.date}}</p>
                                                            <div class="task-time">{{request.user.date_joined.time}}
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <!-- <div class="date"></div> -->
                                                            <div class="task-name"><i class="ion-ios-clock"></i> Last
                                                                Logon</div>
                                                            <p>{{request.user.last_login.date}}</p>
                                                            <div class="task-time">{{request.user.last_login.time}}
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Timeline Tab End -->
                                    <!-- Tasks Tab start -->
                                    <!-- Setting Tab start -->
                                    <div class="tab-pane fade height-100-p" id="setting" role="tabpanel">
                                        <div class="profile-setting">
                                            <form method="post">
                                                {% csrf_token %}

                                                <div class="profile-edit-list row">
                                                    <div class="col-md-12">
                                                        <h4 class="text-blue h5 mb-20">Edit Your Setting</h4>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>First Name</label>
                                                            <input class="form-control form-control-lg" type="text"
                                                                placeholder="First Name"
                                                                value="{{request.user.first_name}}" name="fname">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>Last Name</label>
                                                            <input class="form-control form-control-lg"
                                                                placeholder="Last Name"
                                                                value="{{request.user.last_name}}" type="text"
                                                                name="lname">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control form-control-lg"
                                                                placeholder="email" type="email" name="email"
                                                                value="{{request.user.email}}" name="email">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>Country</label>
                                                            <select class="selectpicker form-control form-control-lg"
                                                                data-style="btn-outline-secondary btn-lg"
                                                                name="country">
                                                                <option value="India" selected>{{lab_profile.country}}
                                                                </option>
                                                                <option value="United States">United States</option>
                                                                <option value="India">India</option>
                                                                <option value="United Kingdom">United Kingdom</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>State/Province/Region</label>
                                                            <input class="form-control form-control-lg" name="state"
                                                                value="{{lab_profile.state}}" placeholder="State"
                                                                type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>Postal Code</label>
                                                            <input class="form-control form-control-lg"
                                                                placeholder="Postal Code"
                                                                value="{{lab_profile.postel_code}}" name="postal"
                                                                type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>Phone Number</label>
                                                            <input class="form-control form-control-lg"
                                                                placeholder="XXXXXXXX" name="phone"
                                                                value="{{lab_profile.contact_number}}" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea class="form-control" placeholder="Address"
                                                                name="address">{{lab_profile.address}}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">


                                                        <div class="form-group mb-0">
                                                            <input type="submit" class="btn btn-primary"
                                                                value="Update Information">
                                                        </div>
                                                    </div>


                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Setting Tab End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            ClinLab - Powered <a href="https://www.byteboot.in" target="_blank">Byteboot</a>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        var image = document.getElementById('image');
        var cropBoxData;
        var canvasData;
        var cropper;

        $('#modal').on('shown.bs.modal', function () {
            cropper = new Cropper(image, {
                autoCropArea: 0.5,
                dragMode: 'move',
                aspectRatio: 3 / 3,
                restore: false,
                guides: false,
                center: false,
                highlight: false,
                cropBoxMovable: false,
                cropBoxResizable: false,
                toggleDragModeOnDblclick: false,
                ready: function () {
                    cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                }
            });
        }).on('hidden.bs.modal', function () {
            cropBoxData = cropper.getCropBoxData();
            canvasData = cropper.getCanvasData();
            cropper.destroy();
        });
    });

    $(document).ready(function () {
        // show the alert
        setTimeout(function () {
            $(".alert").alert('close');
        }, 2000);
    });
</script>

{% endblock %}