<!DOCTYPE html>
{% load static%}
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Lablogix</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{%static 'vendors/images/Clinlab_logo.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{%static 'vendors/images/Clinlab_logo.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{%static 'vendors/images/Clinlab_logo.png' %}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{%static 'vendors/styles/core.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'vendors/styles/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css"
		href="{%static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}">
	<link rel="stylesheet" type="text/css"
		href="{%static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'vendors/styles/style.css' %}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script> -->
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>

<body>
	<!--  -->

	<div class="header">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
			<div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
			<div class="header-search">
				<form>
					<div class="form-group mb-0">
						<i class="dw dw-search2 search-icon"></i>
						<input type="text" class="form-control search-input" placeholder="Search Here">
						<div class="dropdown">
							<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
								<i class="ion-arrow-down-c"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">From</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">To</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">Subject</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="text-right">
									<button class="btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="header-right">
			<div class="dashboard-setting user-notification">
				<div class="dropdown">
					<a href="{%url 'CreateSample' %}" class="btn btn-lg btn-primary btn-sm">
						<i class="icon-copy dw dw-add"></i> Take Sample
					</a>
				</div>
			</div>
			<div class="user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
						<i class="icon-copy dw dw-notification"></i>
						<span class="badge notification-active"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="notification-list mx-h-350 customscroll">
							<ul>
								<li>
									<a href="#">
										<img src="vendors/images/img.jpg" alt="">
										<h3>John Doe</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/photo1.jpg" alt="">
										<h3>Lea R. Frith</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/photo2.jpg" alt="">
										<h3>Erik L. Richards</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/photo3.jpg" alt="">
										<h3>John Doe</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/photo4.jpg" alt="">
										<h3>Renee I. Hansen</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/img.jpg" alt="">
										<h3>Vicki M. Coleman</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							
						</span>
						<span class="user-name">{{request.user.first_name}} {{request.user.last_name}}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="{%url 'profile' %}"><i class="dw dw-user1"></i> Profile</a>
						<a class="dropdown-item" href="{%url 'profile' %}"><i class="dw dw-settings2"></i> Setting</a>
						<a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> Help</a>
						<a class="dropdown-item" href="{%url 'SignOut' %}"><i class="dw dw-logout"></i> Log Out</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="right-sidebar">
		<div class="sidebar-title">
			<h3 class="weight-600 font-16 text-blue">
				Layout Settings
				<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
			</h3>
			<div class="close-sidebar" data-toggle="right-sidebar-close">
				<i class="icon-copy ion-close-round"></i>
			</div>
		</div>
		<div class="right-sidebar-body customscroll">
			<div class="right-sidebar-body-content">
				<h4 class="weight-600 font-18 pb-10">Header Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
				<div class="sidebar-radio-group pb-10 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-1" checked="">
						<label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-2">
						<label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-3">
						<label class="custom-control-label" for="sidebaricon-3"><i
								class="fa fa-angle-double-right"></i></label>
					</div>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
				<div class="sidebar-radio-group pb-30 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-1" checked="">
						<label class="custom-control-label" for="sidebariconlist-1"><i
								class="ion-minus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-2">
						<label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o"
								aria-hidden="true"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-3">
						<label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-4" checked="">
						<label class="custom-control-label" for="sidebariconlist-4"><i
								class="icon-copy dw dw-next-2"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-5">
						<label class="custom-control-label" for="sidebariconlist-5"><i
								class="dw dw-fast-forward-1"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-6">
						<label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
					</div>
				</div>

				<div class="reset-options pt-30 text-center">
					<button class="btn btn-danger" id="reset-settings">Reset Settings</button>
				</div>
			</div>
		</div>
	</div>

	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="{%url 'Index' %}">
				<img src="{%static 'vendors/images/Clinlab_logo.png' %}" alt="" class="dark-logo">
				<img src="{%static 'vendors/images/Clinlab_logo.png' %}" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown">
						<a href="{%url 'Index' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-house-1"></span><span class="">Home</span>
						</a>

					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<!-- <i class="icon-copy "></i> -->
							<span class="micon dw dw-analytics-14"></span><span class="mtext">Laboratory</span>
						</a>
						<ul class="submenu">
							<li><a href="{%url 'customers' %}">Customers</a></li>
							<li><a href="{%url 'CreateSample' %}">Add Sample</a></li>
							<!-- <li><a href="advanced-components.html">Add Results</a></li> -->
							<li><a href="{%url 'pending_samples' %}">Pending Samples</a></li>
							<li><a href="{%url 'completed_samples' %}">Finished Reports</a></li>
							<!-- <li><a href="form-pickers.html"></a></li>
							<li><a href="image-cropper.html">Image Cropper</a></li>
							<li><a href="image-dropzone.html">Image Dropzone</a></li> -->
						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-syringe"></span><span class="mtext">Pathology</span>
						</a>
						<ul class="submenu">
							<li><a href="{%url 'comprehensive_test' %}">Comprehensive Tests</a></li>
							<li><a href="{%url 'SingleTests' %}">Single Tests</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-wallet1"></span><span class="mtext"> Finance </span>
						</a>
						<ul class="submenu">
							<li><a href="{%url 'Invoices' %}">Invoices</a></li>
							<li><a href="{%url 'Incomes' %}">Income</a></li>
							<li><a href="{%url 'Expenses'%}">Expence</a></li>
							<li><a href="{%url 'Finance_settings' %}">Price Settings</a></li>

						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-settings2"></span><span class="mtext"> Settings </span>
						</a>
						<ul class="submenu">
							<li><a href="{%url 'Units' %}">Units</a></li>
							<li><a href="{%url 'profile' %}">Profile Settings</a></li>
							<li><a href="#">System Settings</a></li>

						</ul>
					</li>
					<li>
						<a href="{%url 'calender' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-calendar1"></span><span class="mtext">Calendar</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>
	{% block content %}
	<div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo"><img height="100px" src="{%static 'vendors/images/Clinlab_logo.png' %}" alt="">
			</div>

			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Loading...
			</div>
		</div>
	</div>
	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="card-box pd-20 height-100-p mb-30">
				<div class="row align-items-center">
					<div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							Welcome back <div class="weight-600 font-30 text-blue">{{request.user.first_name}}</div>
						</h4>
					</div>
					<div class="col-md-4 col-sm-12 text-right">
						<div class="dropdown">
							<a href="{%url 'CreateSample' %}" class="btn btn-lg btn-primary">
								<i class="icon-copy dw dw-add"></i> Take Sample
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 mb-30">
					<div class="card-box p-3 widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="">
									<i class="micon dw dw-file-138" style="font-size: 40px;"></i>
								</div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">{{pendinf_samples_count}}

								</div>
								<div class="weight-600 font-14">Pending Samples</div>
								<a href="{%url 'pending_samples' %}" class="btn btn-sm btn-outline-dark">View</a>

							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="">
									<i class="icon-copy dw dw-file-135" style="font-size: 40px;"></i>

								</div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">{{recent_complete_count}}</div>
								<div class="weight-600 font-14">Competed Samples</div>
								<a href="{%url 'RecentlycompletedTests' %}" class="btn btn-sm btn-outline-dark">View</a>

							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="">
									<i class="icon-copy dw dw-file-109" style="font-size: 40px;"></i>

								</div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">350</div>
								<div class="weight-600 font-14">Income</div>
								<a href="" class="btn btn-sm btn-outline-dark">View</a>

							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="">
									<i class="icon-copy dw dw-file-1111" style="font-size: 40px;"></i>

								</div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">$6060</div>
								<div class="weight-600 font-14">Expeses</div>
								<a href="" class="btn btn-sm btn-outline-dark">View</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 mb-30">
					<div class="card-box height-100-p pd-20">
						<h2 class="h4 mb-20">Activity</h2>
						<div id="chart5"></div>
					</div>
				</div>
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p pd-20">
						<h2 class="h4 mb-20">Lead Target</h2>
						<div id="chart6"></div>
					</div>
				</div>
			</div>
			<div class="card-box mb-30" style="overflow-x: auto;">
				<h2 class="h4 pd-20">Completed Samples</h2>
				<table class="data-table table">
					<thead>
						<tr>
							<th>Sl. Order Number</th>
							<th class="table-plus datatable-nosort">Patient</th>
							<th>Sample</th>
							<th>Date and time</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for item in completed_samples %}
						<tr>
							<td>{{forloop.counter}}. <b>{{item.order_number}}</b></td>
							<td class="table-plus">{{item.patient_name}}</td>
							<td>{{item.sample}}</td>
							<td>{{item.created_date}}</td>
							<td>
								{% if item.order_status == True %}
								<span class="badge bg-success">Completed</span>
								{% else %}
								<span class="badge bg-warning">Pending</span>
								{% endif %}
							</td>
							<td>
								<a href="{%url 'OrderSingleFinished' item.id %}" class="btn btn-outline-info"><i
										class="icon-copy dw dw-edit-1"></i></a>

								<!-- delete model start  -->
								<a href="#" onclick="confirm ('Are you sure ??')" class="btn btn-outline-danger"
									data-toggle="modal" data-target="#confirmation-modal"><i
										class="icon-copy dw dw-delete-3"></i></a>

								<!-- delete model end  -->

							</td>
						</tr>
						{% endfor %}


					</tbody>
				</table>
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Lablogix - Powered <a href="https://www.byteboot.in" target="_blank">Byteboot</a>
			</div>
		</div>
	</div>

	{% endblock %}
	<!-- js -->
	<script src="{%static 'vendors/scripts/core.js' %}"></script>
	<script src="{%static 'vendors/scripts/script.min.js' %}"></script>
	<script src="{%static 'vendors/scripts/process.js' %}"></script>
	<script src="{%static 'vendors/scripts/layout-settings.js' %}"></script>
	<script src="{%static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
	<script src="{%static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{%static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{%static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<script src="{%static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
	<script src="{%static 'vendors/scripts/dashboard.js' %}"></script>
</body>

</html>