{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Customer</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'Index' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Customers
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        {% for message in messages%}
                        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                            <strong>Alert!</strong> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <!-- Export Datatable start -->
            <div class="card-box mb-30" style="overflow-x: auto;">
                <div class="pd-20">
                    <h4 class="text-blue h4">Customers</h4>
                </div>
                <div class="pb-20">
                    <table class="table hover multiple-select-row data-table-export nowrap">
                        <thead>
                            <tr>
                                <th>Sl. Order Number</th>
                                <th class="table-plus datatable-nosort">Patient Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in patients %}
                            <tr>
                                <td>{{forloop.counter}}. <b></b></td>
                                <td class="table-plus">{{item.first_name}} {{item.last_name}}</td>
                                <td>{{item.phone_number}}</td>
                                <td>{{item.email}}</td>
                                <td>
                                    <span class="badge bg-success">active</span>
                                </td>
                                <td>
                                    <a href="{%url 'customer_single' item.id %}" class="btn btn-outline-info"><i
                                            class="icon-copy dw dw-edit-1"></i></a>

                                    <!-- delete model start  -->
                                    <a href="#" onclick="confirm ('Are you sure want to delete ??')" class="btn btn-outline-danger"
                                        data-toggle="modal" data-target="#confirmation-modal"><i
                                            class="icon-copy dw dw-delete-3"></i></a>

                                    <!-- delete model end  -->

                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Export Datatable End -->


        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            ClinLab - Powered <a href="https://www.byteboot.in" target="_blank">Byteboot</a>
        </div>
    </div>
</div>
<!-- js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

</script>


<script src="{%static 'vendors/scripts/core.js' %}"></script>
<script src="{%static 'vendors/scripts/script.min.js' %}"></script>
<script src="{%static 'vendors/scripts/process.js' %}"></script>
<script src="{%static 'vendors/scripts/layout-settings.js' %}"></script>
<script src="{%static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{%static 'vendors/scripts/dashboard.js' %}"></script>


<!-- buttons for Export datatable -->
<script src="{%static 'src/plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/buttons.print.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/buttons.flash.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/pdfmake.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/vfs_fonts.js' %}"></script>
<!-- Datatable Setting js -->
<script src="{%static 'vendors/scripts/datatable-setting.js' %}"></script>
{% endblock %}