{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Tests</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{%url 'Index'%}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tests</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <button class="btn btn-lg btn-primary" data-toggle="modal"
                                data-target="#bd-example-modal-lg">
                                <i class="icon-copy dw dw-add"></i> Add Test
                            </button>

                            <!-- modal for test adding  -->
                            <div class="modal fade bs-example-modal-lg" id="bd-example-modal-lg" tabindex="-1"
                                role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myLargeModalLabel">Add New Test</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="add-test-form" method="post">
                                                {% csrf_token %}

                                                <div class="row text-left">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Test Name</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Test Name" required name="name">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Unit</label>
                                                            <select class="form-control" name="unit">
                                                                <option selected disabled>Select unit of test</option>
                                                                {% for i in units%}
                                                                <option value="{{unit}}"> {{i.description}}({{i.unit}})</option>
                                                                {% endfor %}
                                                                <!-- <option value="fL">Femtolitres (fL)</option>
                                                                <option value="g">Grams (g)</option>
                                                                <option value="g/dL">Grams per decilitre (g/dL)</option>
                                                                <option value="g/L">Grams per litre (g/L)</option>
                                                                <option value="IU/L">International units per litre
                                                                    (IU/L)</option>
                                                                <option value="IU/mL">International units per millilitre
                                                                    (IU/mL)</option>
                                                                <option value="mcg">Micrograms (mcg)</option>
                                                                <option value="mcg/dL">Micrograms per decilitre (mcg/dL)
                                                                </option>
                                                                <option value="mcg/L">Micrograms per litre (mcg/L)
                                                                </option>
                                                                <option value="mckat/L">Microkatals per litre (mckat/L)
                                                                </option>
                                                                <option value="mcL">Microlitres (mcL)</option>
                                                                <option value="mcmol/L">Micromoles per litre (mcmol/L)
                                                                </option>
                                                                <option value="mEq">Milliequivalents (mEq)</option>
                                                                <option value="mEq/L">Milliequivalents per litre (mEq/L)
                                                                </option>
                                                                <option value="mg">Milligrams (mg)</option>
                                                                <option value="mg/dL">Milligrams per decilitre (mg/dL)
                                                                </option>
                                                                <option value="mg/L">Milligrams per litre (mg/L)
                                                                </option>
                                                                <option value="mIU/L">Milli-international units per
                                                                    litre (mIU/L)</option>
                                                                <option value="mL">Millilitres (mL)</option>
                                                                <option value="mm">Millimetres (mm)</option>
                                                                <option value="mm Hg">Millimetres of mercury (mm Hg)
                                                                </option>
                                                                <option value="mmol">Millimoles (mmol)</option>
                                                                <option value="mmol/L">Millimoles per litre (mmol/L)
                                                                </option>
                                                                <option value="mOsm/kg water">Milliosmoles per kilogram
                                                                    of water (mOsm/kg water)</option>
                                                                <option value="mU/g">Milliunits per gram (mU/g)</option>
                                                                <option value="mU/L">Milliunits per litre (mU/L)
                                                                </option>
                                                                <option value="ng/dL">Nanograms per decilitre (ng/dL)
                                                                </option>
                                                                <option value="ng/L">Nanograms per litre (ng/L)</option>
                                                                <option value="ng/mL">Nanograms per millilitre (ng/mL)
                                                                </option>
                                                                <option value="ng/mL/hr">Nanograms per millilitre per
                                                                    hour (ng/mL/hr)</option>
                                                                <option value="nmol">Nanomoles (nmol)</option>
                                                                <option value="nmol/L">Nanomoles per litre (nmol/L)
                                                                </option>
                                                                <option value="pg">Picograms (pg)</option>
                                                                <option value="pg/mL">Picograms per millilitre (pg/mL)
                                                                </option>
                                                                <option value="pmol/L">Picomoles per litre (pmol/L)
                                                                </option>
                                                                <option value="Titres">Titres</option>
                                                                <option value="U/L">Units per litre (U/L)</option>
                                                                <option value="U/mL">Units per millilitre (U/mL)
                                                                </option> -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Normal Range</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Test Name" required name="range">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Description (Optional)</label>
                                                            <textarea name="description"
                                                                class="form-control"></textarea>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Interpertation Description (Optional)</label>
                                                            <textarea name="inter_dis" class="form-control"></textarea>
                                                        </div>

                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Add Test</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- submission form model and rejection model  -->

            <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center font-18">
                            <h3 class="mb-20">Test Added To list!</h3>
                            <div class="mb-30 text-center"><img src="{%static 'vendors/images/success.png' %}"></div>
                            New Test added to list click done to reload <br><br>
                            <a href="{%url 'SingleTests' %}" type="button" class="btn btn-primary">Done</a>

                        </div>
                        <div class="modal-footer justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content bg-danger text-white">
                        <div class="modal-body text-center">
                            <h3 class="text-white mb-15"><i class="fa fa-exclamation-triangle"></i> Alert</h3>
                            <p>Test is not added somethig went wrong</p>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Export Datatable start -->
            <div class="card-box mb-30" style="overflow-x: auto;">
                <div class="pd-20">
                    <h4 class="text-blue h4">Available Tests</h4>
                </div>
                <div class="pb-20">
                    <table class="table hover multiple-select-row data-table-export nowrap">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th class="table-plus datatable-nosort">Test name</th>
                                <th>Normal Range</th>
                                <th>Unit</th>
                                <th>Description</th>
                                <th>Interpertation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in clinicaltests %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td class="table-plus">{{item.name}}</td>
                                <td>{{item.normal_range}}</td>
                                <td>{{item.unit}}</td>
                                <td>{{item.description}} </td>
                                <td style="width:20% !important">{{item.Interpertaion_description}}</td>
                                <td>
                                    <a href="" class="btn btn-outline-info"><i class="icon-copy dw dw-edit-1"></i></a>

                                    <!-- delete model start  -->
                                            <a href="#" onclick="confirm ('Are you sure ??')"  class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmation-modal"><i class="icon-copy dw dw-delete-3" ></i></a>
                                            
                                    <!-- delete model end  -->

                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Export Datatable End -->


        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            ClinLab - Powered <a href="https://www.byteboot.in" target="_blank">Byteboot</a>
        </div>
    </div>
</div>
<!-- js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#add-test-form').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            $.ajax({
                url: "{% url 'add_test_type' %}", // Your Django view URL
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.status === 'success') {
                        $('#bd-example-modal-lg').modal('hide'); // Hide the add test modal
                        $('#success-modal').modal('show'); // Show success modal
                    } else {
                        $('#bd-example-modal-lg').modal('hide'); // Hide the add test modal
                        $('#alert-modal').modal('show'); // Show alert modal
                    }
                },
                error: function(xhr, status, error) {
                    $('#bd-example-modal-lg').modal('hide'); // Hide the add test modal
                    $('#alert-modal').modal('show'); // Show alert modal
                }
            });
        });
    });
</script>


<script src="{%static 'vendors/scripts/core.js' %}"></script>
<script src="{%static 'vendors/scripts/script.min.js' %}"></script>
<script src="{%static 'vendors/scripts/process.js' %}"></script>
<script src="{%static 'vendors/scripts/layout-settings.js' %}"></script>
<script src="{%static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{%static 'vendors/scripts/dashboard.js' %}"></script>


<!-- buttons for Export datatable -->
<script src="{%static 'src/plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/buttons.print.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/buttons.flash.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/pdfmake.min.js' %}"></script>
<script src="{%static 'src/plugins/datatables/js/vfs_fonts.js' %}"></script>
<!-- Datatable Setting js -->
<script src="{%static 'vendors/scripts/datatable-setting.js' %}"></script>

{% endblock %}